.centered .about h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 2.2rem
}

li {
  padding-top: 7px;
}

.content a {
  font-weight: 400;
  color: #000;
  text-decoration: underline;
  text-underline-position: under;
}

body {
  font-size: 1.5em;
  font-weight: 400;
}

.avatar img {
  width: 30rem;
  height: auto;
  border-radius: 25%;
  @media only screen and (max-device-width: 768px) {
    width: 10rem;
  }
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
  body {
    font-size: 1.3em;
    line-height: 1.5em
  }
}